body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    background-color: #03001C;
}


.big-container {
    display: flex;
    background-color: #183661;
    width: 600px;
    height: 300px;

    
    
}

.container2{
    flex-basis: 50%;
}

.container2 img {
  height: 100%;
  width: 100%; 
}

.container3 {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}


.numbers {
    font-weight: bold;
    font-size: 2em;
}


.textContainer {
    padding: 20px;
    margin: 10px;
    font-size: 12px
}

.navyBlue {
    color: lightblue;
    display: inline;
}

p {
    line-height: 1.5; 
  }

  .darkerImage {
    filter: brightness(60%);
  }